<!DOCTYPE html>
<html>
    <head>
        <title>Counter</title>
        <!-- 1 -->
        <!-- <script>
            let counter = 0;
            function count(){
                counter++;
                alert(counter);
            }
        </script> -->
        
        <!-- 2 -->
        <!-- <script>
            let counter = 0;
            function count(){
                counter++;
                document.querySelector('h1').innerHTML = counter;
                // 3. adding variable inside and alert string message..the follo. conditional alert
                if (counter % 10 === 0){
                    alert(`The counter is now ${counter}`);
                }
            }
        </script> -->

        <!-- 3 : removinf js code from html body and including it with sscript using addEventListener-->
        <!-- <script>
            let counter = 0;

            function count(){
                counter++;
                document.querySelector('h1').innerHTML = counter;
            }
            
            document.addEventListener('DOMContentLoaded', function(){
                document.querySelector('button').onclick = count;
            });
            
        </script> -->

        <!-- 4:Removing all the js code from html and placing in a seperate .js file and linking via script elt -->
        <script src="counter.js"></script>
    </head>

    <body>
        <!-- 1 -->
        <!-- <h1>
            Hello world !!!
        </h1> -->

        <!-- 2 -->
        <!-- <h1>
            0
        </h1>
        <button onclick="count()">count</button> --> 

        <!-- 3 -->
        <h1>0</h1>
        <button>count</button>
    </body>
</html>